<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="admin-dashboard.component.css">
    </head>
    <body>
    
    <div class="mt-5">
      <table class="table table-bordered">
        <thead class="thead">
          <tr>
            <th>ClaimId</th>
            <th>Date</th>
            <th>Approval</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let claims of claimsDetails">
              <td>{{claims.claimId}}</td>
              <td>{{claims.date}}</td>
              <td>{{claims.approval}} 
                <button type="button" class="btn btn-success" ng-click="claimsNow()"  aria-haspopup="true" aria-expanded="false" style="width:50%;text-align:center;padding:10px 0 10px 0;cursor:pointer">Wait..</button>
                <button type="button" class="btn btn-warning" ng-click="claimsNow()"  aria-haspopup="true" aria-expanded="false" style="width:50%;text-align:center;padding:10px 0 10px 0;cursor:pointer">Approved</button>
              </td>
              <td>{{claims.amount}}</td>
            </tr>
        </tbody>
      </table>
  </div>    
</body>
</html>

